body {
  margin: 0px;
}
a {
  color: #000;
}
/* section 1 */
/* header */
.header {
  background: transparent;
  /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); */
  width: 100%;
  z-index: 3;
}
.main-header {
  background-image: url(img/378757.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  color: rgb(219, 219, 219);
  padding: 20px 20px;
  border-left: 1px solid #000000;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.clear-float {
  clear: both;
}

.welcome {
  text-align: center;
  color: rgb(219, 219, 219);
}
.banner-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: transparent;
}
/* section 2 */

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.about {
  height: 100vh;
  color: rgb(0, 0, 0);
  background-image: url(img/simple-backgrounds-14.jpg);
  background-size: cover;
  position: relative;
}
.box h1 {
  margin: 0px;
  text-shadow: 2px 1px 3px red;
  margin-top: 200px;
  font-size: 50px;
}

.about p {
  color: rgb(255, 255, 255);
  text-align: justify;
  text-align: left;
  font-size: 20px;
}
/* section 3 */
.slider-section {
  clear: both;
  overflow: hidden;
  height: 100vh;
  width: auto;
  background: rgb(240 217 255 / 55%);
}
.text-center {
  text-shadow: 2px 1px 3px #ff4949;
}
.container h2 {
  font-size: 4rem;
}

.media-29101 {
  margin: auto;
  padding: 2px;
  height: 500px;
  width: 300px;
}
/* footer section */

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 25px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

.footer-distributed .footer-left a:hover {
  color: #20ab93;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-center i:hover {
  color: #20ab93;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
  color: #20ab93;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    /* float: left; */
    /* width: auto; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .about p {
    text-align: center;
    font-size: 25px;
  }
  .box h1 {
    text-shadow: 2px 1px 3px red;
    margin-top: 50px;
  }
}
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    background: transparent;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
